.privacy-policy-container,.term-and-condition-container{
    padding: 0 30px 30px;
    h2{
      color: #9244eb!important;
      font-family: AvenirArabic-Heavy;
    }
    p.information,li {
      color: #1b0730;
      font-family:AvenirArabic-Medium;
    }
    
    .pointers {
      font-family:AvenirArabic-Medium;
      font-weight: 800;
    }
  }