.icon-btn {
  background: none !important;
  border: none !important;
  outline: none !important;
  padding-left: 0;
  &:hover {
    background: none !important;
    border: none !important;
    outline: none !important;
  }
}
